.container {
  width: 100%;
  display: block;
  margin: 10% auto;
}

.round {
  margin: auto;
  height: 150px;
  width: 150px;
  border: 5px solid lightblue;
  border-bottom: 1px solid transparent;
  border-radius: 100%;

  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.inner {
  height: 130px;
  width: 130px;
  border: 5px solid lightgreen;
  border-radius: 100%;

  -webkit-animation: rotating-reverse 2s linear infinite;
  -moz-animation: rotating-reverse 2s linear infinite;
  -ms-animation: rotating-reverse 2s linear infinite;
  -o-animation: rotating-reverse 2s linear infinite;
  animation: rotating-reverse 2s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
